@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

body {
    background: #F0F8FF;
}

.contact3 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: rgb(237, 237, 237) 0 0 5px 2px;
}

.contact3 h1,
.contact3 h2,
.contact3 h3,
.contact3 h4,
.contact3 h5,
.contact3 h6 {
    color: #3e4555;
}

.contact3 .font-weight-medium {
    font-weight: 500;
}

.contact3 .card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact3 .btn-danger-gradiant {
    background: #000042;
    background: -webkit-linear-gradient(legacy-direction(to right), #000042 0%, #000081 100%);
    background: -webkit-gradient(linear, left top, right top, from(#000042), to(#000081));
    background: -webkit-linear-gradient(left, #000042 0%, #000081 100%);
    background: -o-linear-gradient(left, #000042 0%, #000081 100%);
    background: linear-gradient(to right, #000042 0%, #000081 100%);
}

.contact3 .btn-danger-gradiant:hover {
    background: #000042;
    background: -webkit-linear-gradient(legacy-direction(to right), #000081 0%, #000042 100%);
    background: -webkit-gradient(linear, left top, right top, from(#000081), to(#000042));
    background: -webkit-linear-gradient(left, #000081 0%, #000042 100%);
    background: -o-linear-gradient(left, #000081 0%, #000042 100%);
    background: linear-gradient(to right, #000081 0%, #000042 100%);
}

.contact-head {
    text-align: center;
    padding-top: 10px;
}

.fa-solid.ic {
    display: inline;
    padding-left: 0px !important;
}

.font-weight-medium {
    display: inline;
}

button.btn-danger-gradiant {
    margin-bottom: 20px;
}