body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.event-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="time"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px;
}

.post-event {
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
    color: #342E37;
    border-radius: 20px;
    font-weight: 700;
    background: #AAAAAA;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.post-event:hover {
    background: #342E37;
    color: #AAAAAA;
}